@import "tailwindcss";

@font-face {
  font-family: "Retro";
  font-weight: 400;
  src: url("/fonts/retro.ttf");
}

@font-face {
  font-family: "Segoe";
  font-weight: 400;
  src: url("/fonts/segoe.ttf");
}

@font-face {
  font-family: "Sans";
  font-weight: 400;
  src: url("/fonts/sans.otf");
}

@theme {
  --font-retro: "Retro";
  --font-sans: "Sans";
  --font-segoe: "Segoe";

  --breakpoint-galaxy: 30rem;
}

@layer utilities {
  .font-retro {
    font-family: var(--font-retro);
  }

  .font-sans {
    font-family: var(--font-sans);
  }

  .font-segoe {
    font-family: var(--font-segoe);
  }

  .z-10 {
    z-index: 10;
  }

  .z-20 {
    z-index: 20;
  }

  .z-30 {
    z-index: 30;
  }
}

html {
  font-family: var(--font-sans);
  background: black;
}

body {
  scrollbar-width: 0px;
  scrollbar-color: transparent;
  padding: 0;
  margin: 0;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

html::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

html::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}

div::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

div::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

div::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

div::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}
